Repository flashinfer-ai/flashinfer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bkryu, @cyx-6, @nv-yunzheq, @kahyunnam, @nvmbreughe, @Anerudhan, @yzh119, @wenscarl, @yongwww, @aleozlx, @joker-eph, @ttyio, @azhurkevich, @kaixih, @Amir-19, @IwakuraRein, @dierksen

debug..
  csrc/nv_internal/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_template_dispatch_tma_ws.h
Owners: @wenscarl, @yzh119, @cyx-6, @yongwww, @aleozlx

Improve
  csrc/nv_internal/cpp/kernels/quantization.cu
  csrc/nv_internal/tensorrt_llm/thop/fp4Quantize.cpp
Owners: @wenscarl, @yongwww, @joker-eph, @ttyio, @azhurkevich, @yzh119, @cyx-6, @aleozlx

Update the routing for TRTLLMGEN to support kimi k2 and qwen (#1831)
  csrc/trtllm_fused_moe_kernel_launcher.cu
  csrc/trtllm_fused_moe_routing_deepseek.cu
  csrc/trtllm_fused_moe_routing_llama4.cu
  csrc/trtllm_fused_moe_routing_renormalize.cu
  csrc/trtllm_fused_moe_runner.cu
  flashinfer/fused_moe/core.py
  include/flashinfer/trtllm/fused_moe/DevKernel.h
  include/flashinfer/trtllm/fused_moe/RoutingKernel.cuh
  include/flashinfer/trtllm/fused_moe/RoutingKernel.h
  include/flashinfer/trtllm/fused_moe/RoutingKernelTopK.cuh
  tests/moe/test_trtllm_gen_fused_moe.py
Owners: @yzh119, @wenscarl, @cyx-6, @yongwww, @kahyunnam, @IwakuraRein, @joker-eph, @aleozlx

unittest: fix deepgemm sha256 (#1953)
  flashinfer/artifacts.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @yongwww

metainfohash and docstring
  flashinfer/artifacts.py
  flashinfer/jit/attention/modules.py
  flashinfer/jit/cubin_loader.py
  flashinfer/jit/fused_moe.py
  flashinfer/jit/gemm/core.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @yongwww, @Anerudhan, @joker-eph, @aleozlx, @bkryu

precommit
  flashinfer/artifacts.py
  flashinfer/jit/attention/modules.py
  flashinfer/jit/cubin_loader.py
  flashinfer/jit/fused_moe.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @yongwww, @Anerudhan, @joker-eph, @aleozlx, @bkryu

feat: enable deepgemm jit for fp8 block-scale
  csrc/nv_internal/tensorrt_llm/deep_gemm/compiler.cuh
  csrc/nv_internal/tensorrt_llm/deep_gemm/runtime.cuh
Owners: @wenscarl, @yzh119, @cyx-6, @yongwww, @aleozlx

pre-commit
  csrc/nv_internal/tensorrt_llm/deep_gemm/compiler.cuh
Owners: @wenscarl, @yzh119, @cyx-6, @yongwww, @aleozlx

gemini comment
  csrc/nv_internal/tensorrt_llm/deep_gemm/compiler.cuh
Owners: @wenscarl, @yzh119, @cyx-6, @yongwww, @aleozlx

add mla sm120 kernel
  csrc/flashinfer_xqa_binding.cu
  csrc/xqa/mha.h
  csrc/xqa/mla_sm120.cu
  csrc/xqa/mla_sm120.cuh
  csrc/xqa/xqa_wrapper.cu
  flashinfer/__init__.py
  flashinfer/aot.py
  flashinfer/jit/xqa.py
  flashinfer/xqa.py
  tests/attention/test_xqa.py
Owners: @yzh119, @wenscarl, @cyx-6, @yongwww, @kahyunnam, @nvmbreughe, @aleozlx, @bkryu

upd
  scripts/authorized_codeowner.txt
Owners: @yzh119, @nvmbreughe, @yongwww, @bkryu, @dierksen

fix pre-commit
  csrc/xqa/mla_sm120.cu
  csrc/xqa/mla_sm120.cuh
Owners: @yzh119, @cyx-6

misc: Update artifacts docstring and MetaInfoHash (#1967)
  flashinfer/artifacts.py
  flashinfer/jit/attention/modules.py
  flashinfer/jit/cubin_loader.py
  flashinfer/jit/fused_moe.py
  flashinfer/jit/gemm/core.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @yongwww, @Anerudhan, @joker-eph, @aleozlx, @bkryu

silu_and_mul nvfp4 quanization fusion rework (#1927)
  csrc/nv_internal/cpp/kernels/quantization.cu
  csrc/nv_internal/tensorrt_llm/kernels/quantization.cuh
  csrc/nv_internal/tensorrt_llm/kernels/quantization.h
  csrc/nv_internal/tensorrt_llm/thop/fp4Quantize.cpp
  csrc/nv_internal/tensorrt_llm/thop/fp4Quantize.h
  docs/api/activation.rst
  docs/api/fp4_quantization.rst
  flashinfer/__init__.py
  flashinfer/activation.py
  flashinfer/fp4_quantization.py
  tests/utils/test_fp4_quantize.py
Owners: @wenscarl, @yongwww, @joker-eph, @ttyio, @azhurkevich, @yzh119, @cyx-6, @aleozlx, @nv-yunzheq, @nvmbreughe

added heuristic for trtllm_allreduce_fusion
  flashinfer/comm/trtllm_ar.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @aleozlx

fixed typo
  flashinfer/comm/trtllm_ar.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @aleozlx

Feature: Add support for L40 FusedMoE in cutlass path
  csrc/nv_internal/tensorrt_llm/kernels/cutlass_kernels/cutlass_heuristic.cpp
  csrc/nv_internal/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_template_dispatch.h
  csrc/nv_internal/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_tma_warp_specialized_traits.h
  flashinfer/fused_moe/core.py
  flashinfer/jit/core.py
  flashinfer/jit/fused_moe.py
Owners: @wenscarl, @yzh119, @cyx-6, @yongwww, @aleozlx, @IwakuraRein, @joker-eph, @bkryu

unittest: fix test_artifacts.py (#1950)
  scripts/task_jit_run_tests_part4.sh
  tests/test_artifacts.py
Owners: @yzh119, @nvmbreughe, @yongwww, @bkryu, @dierksen

Fix wrong env
  csrc/nv_internal/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_tma_warp_specialized_traits.h
Owners: @wenscarl, @yzh119, @cyx-6, @yongwww, @aleozlx

Update tests/utils/test_green_ctx.py
  tests/utils/test_green_ctx.py
Owners: none

pre-commits
  flashinfer/comm/trtllm_ar.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @aleozlx

chore: update the list of authorized codeowners (#1970)
  scripts/authorized_codeowner.txt
Owners: @yzh119, @nvmbreughe, @yongwww, @bkryu, @dierksen

Added heuristic for trtllm_allreduce_fusion (#1972)
  flashinfer/comm/trtllm_ar.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @aleozlx

WAR for xqa compiling with cuda version <= 12.8
  flashinfer/aot.py
Owners: @yzh119, @cyx-6, @nvmbreughe, @wenscarl, @yongwww

upd
  csrc/nv_internal/tensorrt_llm/thop/fp4Quantize.cpp
Owners: @wenscarl, @yzh119, @cyx-6, @yongwww, @aleozlx

.github/CODEOWNERS:

# Code Owners File
# Generated automatically from git history analysis
# Analysis period: 180 days
# Minimum commits threshold: 1

benchmarks/ @bkryu @cyx-6 @nv-yunzheq @kahyunnam @nvmbreughe
benchmarks/routines/ @bkryu @nv-yunzheq @cyx-6 @nvmbreughe @Anerudhan
ci/ @cyx-6 @yzh119 @nvmbreughe
ci/scripts/ @cyx-6
ci/scripts/jenkins/ @cyx-6
csrc/ @yzh119 @wenscarl @cyx-6 @yongwww @kahyunnam
csrc/fused_moe/ @yzh119 @yongwww @wenscarl @cyx-6 @yongwww
csrc/fused_moe/cutlass_backend/ @yzh119 @yongwww @wenscarl @cyx-6 @yongwww
csrc/nv_internal/ @wenscarl @yzh119 @cyx-6 @yongwww @aleozlx
csrc/nv_internal/cpp/ @wenscarl @yongwww @joker-eph @ttyio @azhurkevich
csrc/nv_internal/include/ @wenscarl
csrc/nv_internal/tensorrt_llm/ @wenscarl @yzh119 @cyx-6 @yongwww @aleozlx
csrc/xqa/ @yzh119 @cyx-6
docs/ @yzh119 @cyx-6 @wenscarl @nv-yunzheq @aleozlx
flashinfer/ @yzh119 @cyx-6 @nvmbreughe @wenscarl @yongwww
flashinfer-cubin/ @yzh119 @cyx-6
flashinfer-cubin/flashinfer_cubin/ @yzh119
flashinfer-jit-cache/ @yzh119 @cyx-6
flashinfer-jit-cache/flashinfer_jit_cache/ @yzh119
flashinfer/comm/ @yzh119 @cyx-6 @nvmbreughe @wenscarl @aleozlx
flashinfer/cudnn/ @Anerudhan @yzh119 @cyx-6 @Anerudhan
flashinfer/cute_dsl/ @yzh119 @kaixih @Amir-19 @aleozlx
flashinfer/fused_moe/ @yzh119 @cyx-6 @wenscarl @IwakuraRein @joker-eph
flashinfer/jit/ @yzh119 @cyx-6 @aleozlx @yongwww @bkryu
flashinfer/jit/attention/ @yzh119 @Anerudhan @joker-eph
flashinfer/jit/gemm/ @yzh119
flashinfer/logits_processor/ @cyx-6 @yzh119
flashinfer/profiler/ @cyx-6
flashinfer/triton/ @cyx-6 @nvmbreughe @yzh119
flashinfer/tuning_configs/ @kaixih
include/ @yzh119 @cyx-6 @kahyunnam @joker-eph @aleozlx
include/flashinfer/ @yzh119 @cyx-6 @kahyunnam @joker-eph @aleozlx
include/flashinfer/attention/ @yzh119 @kahyunnam @joker-eph
include/flashinfer/comm/ @yongwww @nvmbreughe @yzh119 @cyx-6
include/flashinfer/gemm/ @ttyio @yongwww @aleozlx @cyx-6
include/flashinfer/trtllm/ @joker-eph @aleozlx @yzh119 @cyx-6 @aleozlx
profiler/ @cyx-6
scripts/ @yzh119 @nvmbreughe @yongwww @bkryu @dierksen
