Repository flashinfer-ai/flashinfer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bkryu, @cyx-6, @nv-yunzheq, @kahyunnam, @jiahanc, @nvmbreughe, @Anerudhan, @yzh119, @wenscarl, @djmmoss, @yongwww, @joker-eph, @ttyio, @aleozlx, @kaixih, @Amir-19, @IwakuraRein, @dierksen

.github/CODEOWNERS:

# Code Owners File
# Generated automatically from git history analysis
# Analysis period: 180 days
# Minimum commits threshold: 1

benchmarks/ @bkryu @cyx-6 @nv-yunzheq @kahyunnam @jiahanc
benchmarks/routines/ @bkryu @nv-yunzheq @cyx-6 @nvmbreughe @Anerudhan
ci/ @cyx-6 @yzh119 @nvmbreughe
ci/scripts/ @cyx-6
ci/scripts/jenkins/ @cyx-6
csrc/ @wenscarl @yzh119 @cyx-6 @djmmoss @yongwww
csrc/fused_moe/ @yzh119 @yongwww @djmmoss @cyx-6 @wenscarl
csrc/fused_moe/cutlass_backend/ @yzh119 @yongwww @djmmoss @cyx-6 @wenscarl
csrc/nv_internal/ @wenscarl @djmmoss @cyx-6 @yzh119 @yongwww
csrc/nv_internal/cpp/ @wenscarl @yongwww @djmmoss @joker-eph @ttyio
csrc/nv_internal/include/ @wenscarl
csrc/nv_internal/tensorrt_llm/ @wenscarl @djmmoss @cyx-6 @yzh119 @yongwww
csrc/xqa/ @cyx-6 @yzh119
docs/ @yzh119 @cyx-6 @wenscarl @nv-yunzheq @aleozlx
flashinfer/ @yzh119 @cyx-6 @wenscarl @nvmbreughe @bkryu
flashinfer-cubin/ @yzh119 @cyx-6
flashinfer-cubin/flashinfer_cubin/ @yzh119
flashinfer-jit-cache/ @yzh119 @cyx-6
flashinfer-jit-cache/flashinfer_jit_cache/ @yzh119
flashinfer/comm/ @yzh119 @cyx-6 @nvmbreughe @wenscarl @djmmoss
flashinfer/cudnn/ @Anerudhan @yzh119 @cyx-6 @Anerudhan
flashinfer/cute_dsl/ @yzh119 @kaixih @Amir-19 @aleozlx
flashinfer/fused_moe/ @djmmoss @yzh119 @cyx-6 @wenscarl @IwakuraRein
flashinfer/jit/ @yzh119 @cyx-6 @djmmoss @aleozlx @yongwww
flashinfer/jit/attention/ @yzh119 @cyx-6 @Anerudhan @joker-eph
flashinfer/jit/gemm/ @yzh119
flashinfer/logits_processor/ @cyx-6 @yzh119
flashinfer/profiler/ @cyx-6
flashinfer/triton/ @cyx-6 @nvmbreughe @yzh119
flashinfer/tuning_configs/ @kaixih
include/ @yzh119 @cyx-6 @wenscarl @kahyunnam @joker-eph
include/flashinfer/ @yzh119 @cyx-6 @wenscarl @kahyunnam @joker-eph
include/flashinfer/attention/ @yzh119 @kahyunnam @joker-eph
include/flashinfer/comm/ @yongwww @nvmbreughe @djmmoss @yzh119 @cyx-6
include/flashinfer/gemm/ @ttyio @yongwww @aleozlx @cyx-6
include/flashinfer/trtllm/ @joker-eph @aleozlx @yzh119 @cyx-6 @wenscarl
profiler/ @cyx-6
scripts/ @yzh119 @nvmbreughe @dierksen @yongwww @bkryu

fix attention sink load
  csrc/xqa/mha_sm90.cu
  flashinfer/decode.py
  tests/attention/test_xqa_batch_decode.py
Owners: @cyx-6, @yzh119, @wenscarl, @nvmbreughe, @bkryu

Feature: Support non-gated activation in cutlass fused MoE nvfp4 (#2011)
  csrc/fused_moe/cutlass_backend/flashinfer_cutlass_fused_moe_sm100_binding.cu
  tests/moe/test_trtllm_cutlass_fused_moe.py
Owners: @yzh119, @yongwww, @djmmoss, @cyx-6, @wenscarl

remove debug stdout
  csrc/fused_moe/cutlass_backend/flashinfer_cutlass_fused_moe_sm100_binding.cu
  csrc/nv_internal/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_template_dispatch_tma_ws.h
Owners: @yzh119, @yongwww, @djmmoss, @cyx-6, @wenscarl

Add first draft of mm_fp4 backend
  flashinfer/gemm.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

Add 4th draft of mm_fp4 backend -- enable cross-backend autotune on auto, but no cudnn autotune
  benchmarks/routines/gemm.py
  flashinfer/gemm.py
Owners: @bkryu, @nv-yunzheq, @cyx-6, @nvmbreughe, @Anerudhan, @yzh119, @wenscarl

Add second draft of mm_fp4 backend
  benchmarks/routines/flashinfer_benchmark_utils.py
  benchmarks/routines/gemm.py
  flashinfer/gemm.py
  tests/gemm/test_mm_fp4.py
Owners: @bkryu, @nv-yunzheq, @cyx-6, @nvmbreughe, @Anerudhan, @yzh119, @wenscarl

Add third draft of mm_fp4 backend -- no audotune
  benchmarks/routines/gemm.py
  flashinfer/gemm.py
Owners: @bkryu, @nv-yunzheq, @cyx-6, @nvmbreughe, @Anerudhan, @yzh119, @wenscarl

Add 5th draft of mm_fp4 backend -- enable cudnn autotune
  flashinfer/gemm.py
  tests/gemm/test_mm_fp4.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

Refactor test_mm_fp4.py
  tests/gemm/test_mm_fp4.py
Owners: none

Address comments
  benchmarks/routines/flashinfer_benchmark_utils.py
  benchmarks/routines/gemm.py
  flashinfer/gemm.py
Owners: @bkryu, @nv-yunzheq, @cyx-6, @nvmbreughe, @Anerudhan, @yzh119, @wenscarl

fix typo
  csrc/trtllm_fused_moe_routing_llama4.cu
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww

Fix trtll long seqlen decode IMA in test script and benchmark
  benchmarks/routines/attention.py
  tests/attention/test_trtllm_gen_attention.py
Owners: @bkryu, @nv-yunzheq, @cyx-6, @nvmbreughe, @Anerudhan

Added negative tests
  flashinfer/model_optimizations/dsv3/routergemm.py
  tests/model_optimizations/test_dsv3_router_gemm.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

Made bias optional
  flashinfer/model_optimizations/dsv3/routergemm.py
  tests/model_optimizations/test_dsv3_router_gemm.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

move enable_pdl to runtime
  csrc/flashinfer_xqa_binding.cu
  csrc/xqa/defines.h
  csrc/xqa/mha.cu
  csrc/xqa/mha.h
  csrc/xqa/mha_sm90.cu
  csrc/xqa/mla_sm120.cu
  csrc/xqa/xqa_wrapper.cu
  flashinfer/aot.py
  flashinfer/jit/xqa.py
  flashinfer/xqa.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu, @aleozlx

[WIP] TRTLLM-GEN NHD
  csrc/trtllm_fmha_kernel_launcher.cu
  flashinfer/decode.py
  flashinfer/prefill.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu

update
  csrc/trtllm_fused_moe_kernel_launcher.cu
  flashinfer/autotuner.py
  flashinfer/fused_moe/core.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu, @IwakuraRein

update
  csrc/trtllm_fused_moe_kernel_launcher.cu
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww

fix
  csrc/trtllm_fmha_kernel_launcher.cu
  flashinfer/prefill.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu

add unittest for nhd layout
  flashinfer/prefill.py
  tests/attention/test_trtllm_gen_attention.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

change version to v0.5.0rc3
  version.txt
Owners: none

upd
  csrc/trtllm_fmha_kernel_launcher.cu
  flashinfer/decode.py
  flashinfer/prefill.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu

fix
  flashinfer/decode.py
  flashinfer/prefill.py
  tests/attention/test_trtllm_gen_attention.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

bump trtllm-gen to ac83a
  include/flashinfer/trtllm/batched_gemm/trtllmGen_bmm_export/BatchedGemmInterface.h
  include/flashinfer/trtllm/batched_gemm/trtllmGen_bmm_export/BatchedGemmOptions.h
  include/flashinfer/trtllm/batched_gemm/trtllmGen_bmm_export/GemmGatedActOptions.h
  include/flashinfer/trtllm/batched_gemm/trtllmGen_bmm_export/GemmOptions.h
Owners: @joker-eph, @aleozlx, @yzh119, @cyx-6, @wenscarl

public cubins
  flashinfer/artifacts.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

add FP8 pertensor class
  csrc/trtllm_fused_moe_kernel_launcher.cu
  flashinfer/fused_moe/core.py
  include/flashinfer/trtllm/fused_moe/RoutingKernel.cuh
  tests/moe/test_trtllm_gen_fused_moe.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @IwakuraRein, @joker-eph, @aleozlx

[wip] xqa nhd/hnd
  csrc/flashinfer_xqa_binding.cu
  csrc/xqa/defines.h
  csrc/xqa/mha.cu
  csrc/xqa/mha.h
  csrc/xqa/mhaUtils.cuh
  csrc/xqa/mha_sm90.cu
  csrc/xqa/mla_sm120.cu
  csrc/xqa/tensorMap.cpp
  csrc/xqa/tensorMap.h
  csrc/xqa/xqa_wrapper.cu
  flashinfer/decode.py
  flashinfer/jit/xqa.py
  flashinfer/xqa.py
  tests/attention/test_xqa.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu, @aleozlx

add test coverage for xqa hnd
  flashinfer/decode.py
  flashinfer/xqa.py
  tests/attention/test_xqa.py
  tests/attention/test_xqa_batch_decode.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

unified ut
  flashinfer/decode.py
  tests/attention/test_trtllm_gen_attention.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

upd
  csrc/trtllm_fmha_kernel_launcher.cu
  flashinfer/decode.py
  flashinfer/prefill.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu

upd
  flashinfer/decode.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

remove debug info
  flashinfer/decode.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

fixing xqa mla ut on sm120
  tests/attention/test_xqa.py
Owners: none

fixing xqa mla ut on sm120
  csrc/xqa/mla_sm120.cu
Owners: @cyx-6, @yzh119

addressing coderabbit
  flashinfer/decode.py
Owners: @yzh119, @cyx-6, @wenscarl, @nvmbreughe, @bkryu

feat: add xqa backend and completes NHD/HND coverage for trtllm-gen/xqa backend (#2001)
  csrc/flashinfer_xqa_binding.cu
  csrc/trtllm_fmha_kernel_launcher.cu
  csrc/xqa/defines.h
  csrc/xqa/mha.cu
  csrc/xqa/mha.h
  csrc/xqa/mhaUtils.cuh
  csrc/xqa/mha_sm90.cu
  csrc/xqa/mla_sm120.cu
  csrc/xqa/tensorMap.cpp
  csrc/xqa/tensorMap.h
  csrc/xqa/utils.cuh
  csrc/xqa/xqa_wrapper.cu
  flashinfer/decode.py
  flashinfer/jit/xqa.py
  flashinfer/prefill.py
  flashinfer/xqa.py
  tests/attention/test_trtllm_gen_attention.py
  tests/attention/test_xqa.py
  tests/attention/test_xqa_batch_decode.py
Owners: @wenscarl, @yzh119, @cyx-6, @djmmoss, @yongwww, @nvmbreughe, @bkryu, @aleozlx

upd
  benchmarks/bench_sampling.py
Owners: @bkryu, @cyx-6, @nv-yunzheq, @kahyunnam, @jiahanc

test: Enable xfailed trtllm decode long seqlen tests and update microbenchmark (#2018)
  benchmarks/routines/attention.py
  tests/attention/test_trtllm_gen_attention.py
Owners: @bkryu, @nv-yunzheq, @cyx-6, @nvmbreughe, @Anerudhan
